:root {
  --primary: #42d1f5;
  --secondary: #370ec9;
}


body{
    background-color: #F9F5F6;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
}
/*************************footer*********************/
footer{
    background-color: beige;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    margin: 0;
}
/*****************************clippy-gif**************************/
.clippy-box{
    position: fixed;
    bottom: 22px;
    right: 0;
}
.clippy{
    width: 25%;
    height: auto;
}

/*******************main-page-heading********************/

.header {
  margin: 0px auto;
  width: 450px;
  color: #776e65;
}

.scores-container {
  float: right;
  text-align: right;
}

.score-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 20px 30px;
  font-size: 30px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.score-container:after {
  content: "Score";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.logo {
  font-size: 70px;
  font-weight: bold;
}

.sub-header {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  line-height: 45px;
  height: 45px;
}
.but{
  margin: 20px 50%;
}


/********************arrow-box*********************/
.arrow-box{
  margin: 20px auto;
  padding: auto;
  width: 30vw;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************************button******************************/


.custom-button {
  font-size: 32px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  padding: 8px 24px;
  border: none;
  width: 8%;
  border-radius: 8px;
  background-color: #42d1f5;
  color: black;
  margin: 10px 46%;
  box-shadow: 0px 8px 0px 0px var(--secondary);
}

.custom-button:active {
  box-shadow: 0px 4px 0px 0px var(--secondary);
  transform: translateY(2%);
}
 /**************************grid*************************/
 .game {
  margin: 10px auto;
  background-color: #bbada0;
  border-radius: 6px;
  width: 450px;
  height: 450px;
  padding: 12px;
  box-sizing: border-box;
}

.grid {
  position: absolute;
  z-index: 1;
}

.playground {
  position: absolute;
  z-index: 2;
  font-family: 'Source Sans Pro', sans-serif;
}

.row {
  margin-bottom: 12px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  width: 97.5px;
  height: 97.5px;
  margin-right: 12px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}

.cell:last-child {
  margin: 0;
}

[class^="box"] {
  position: absolute;
  border-radius: 3px;
  font-size: 53px;
  width: 98px;
  height: 98px;
}

.title {  
  text-align: center;
  line-height: 98px;
}
[class$="0"] {
  visibility: hidden;

}
[class$="20"] {
  color: #776e65;
  background-color: #eee4da;
}

[class$="40"] {
  color: #776e65;
  background-color: #ede0c8;
}

[class$="80"] {
  color: #f9f6f2;
  background-color: #f2b179;
}

[class$="160"] {
  color: #f9f6f2;
  background-color: #f59563;
}

[class$="320"] {
  color: #f9f6f2;
  background-color: #f67c5f;
}

[class$="640"] {
  color: #f9f6f2;
  background-color: #f65e3b;
}

[class$="1280"] {
  color: #f9f6f2;
  background-color: #edcf72;
  font-size: 43px;
}

[class$="2560"] {
  color: #f9f6f2;
  background-color: #edcc61;
  font-size: 43px;
}

[class$="5120"] {
  color: #f9f6f2;
  background-color: #edc850;
  font-size: 43px;
}

[class$="10240"] {
  color: #f9f6f2;
  background-color: #edc53f;
  font-size: 33px;
}

[class$="20480"] {
  color: #f9f6f2;
  background-color: #e4be3d;
  font-size: 33px; 
}

[class$="40960"] {
  color: #f9f6f2;
  background-color: #e4b13d;
  font-size: 33px; 
}

.hide{
  opacity: 0;
}
/*#######################################game-end-box######################*/
.game-end-box{
  position: absolute;
  width: 100vw;
  top: 0%;
  opacity: 100%;
  background-color: white;
  z-index: 50;
  height: 100vh;
}

.end-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  opacity: 0.96;
}

.end-screen h1 {
  text-shadow: 2px 2px 5px;
  padding-top: 100px;
}

.end-screen p {
  font-family: verdana, sans-serif;
  color: lightBlue;
}

#end-screen-icon {
  background-image: url(../assets/images/cup.svg);
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 50px;

}

.end-screen button {
  font-family: "Hyperspace", "Arial";
  font-size: 20px;
  width: 200px;
  height: 80px;
  margin-top: 50px;
  background-color: transparent;
  color: pink;
  border-color: rgb(132, 187, 180);
  border-radius: 10%;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}