:root {
  --primary: #f542a1;
  --secondary: #c90e72;
}


body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/*************************footer*********************/
footer{
    background-color: beige;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    margin: 0;
}
/*****************************clippy-gif**************************/
.clippy-box{
    position: fixed;
    bottom: 22px;
    right: 0;
}
.clippy{
    width: 25%;
    height: auto;
}

/*******************main-page-heading********************/
.main-page-heading-box{
  margin: 20px 25vw;
  padding: auto;
  background-color: beige;
  width: 50vw;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************************button******************************/
.custom-btn {
  font-size: 32px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: white;
  margin: 15px;
  box-shadow: 0px 8px 0px 0px var(--secondary);
}

.custom-btn:active {
  box-shadow: 0px 4px 0px 0px var(--secondary);
  transform: translateY(2%);
}
